.container{
    display: grid;
    height: 400px;
    width: 1000px;
    background-color:aqua;
    border:1px solid black ;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;or we can use */grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(3,1fr);
     /* grid-template-areas: "header header header header" " main main . sidebar" "footer footer footer footer"; 
     justify-items: center;
     justify-items: stretch; 
    align-items: center; 
    justify-content: start;  */
    justify-content: space-evenly;
    align-content: stretch;
}

.item{
     /* height: 100px;
    width: 100px;   */
    background-color: red;
    border:1px solid black ;
    text-align: center;
    align-content: center;
    color: white;
}
.item1{
    /* grid-area: header ; */
    grid-row: 1/3;
}
/* .item2{
      grid-area:main ; 
}
.item3{
     grid-area: sidebar; 
} */
.item4{
    /* grid-area: footer; */
    grid-row: 2/3;
    order: 3;
}